<<<<<<< Updated upstream
        <!-- Carousel -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="./images/slide1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="./images/slide2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="./images/slide3.jpg" alt="Third slide">
=======
{{#each games}}
<!-- Original Buttons -->
<button type="button" class="btn mt-5 mod-btn gameCard" data-toggle="modal" data-target="#modal-{{id}}" data-id="{{id}}">
    <div class="card">
        <img class="card-img-top" src={{gamePicture}} alt="Card image cap">
        <div class="card-body">
            <p class="card-text">
                <h5 class="mt-0 name">{{gameName}}</h5>
                <h6 class="mt-0 own">Ownership: <span class="ownership">{{ownedStatus}}</span>
                </h6>
                <h6 class="mt-0">Platform: <span class="platform">{{gameConsole}}</span>
                </h6>
                <h6>
                    <a href="https://www.giantbomb.com/portal-2/3030-21662/" target="_blank">Giantbomb URL</a>
                </h6>
            </p>
        </div>
    </div>
</button>
<div class="modal fade" id="modal-{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{gameName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="modal-image">
            <form>
                <div class="form-group">
                    <label for="ID">Database ID</label>
                    <input type="text" readonly class="form-control-plaintext id">
                </div>
                <div class="form-group">
                    <label for="Name">Name: </label>
                    <input type="text" class="form-control name">
                </div>
                <div class="form-group">
                    <label for="own">Ownership: </label>
                    <input type="text" class="form-control own">
                </div>
                <div class="form-group">
                    <label for="url">Url: </label>
                    <input type="text" class="form-control url">
                </div>
                <div class="form-group">
                    <label for="summary">Summary: </label>
                    <input type="text" class="form-control summary">
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
>>>>>>> Stashed changes
            </div>
        </div>
    </div>
    
    <!-- page content -->
        <div class="welcome">
            <h1 class="display-3">Welcome to Spielkatalog!</h1>
            <p class="lead">Spielkatalog is a simple, modern tool to help track and organize your video game collection. Our
                goal is to eventually house the largest and most accurate video game database on the Internet. Each listing
                includes box art, descriptions, item numbers and more.</p>
            <h2>Why use Spielkatalog?</h2>
            <ul>
                <li>Huge database. Games, consoles, accessories and more!</li>
                <li>Manage your collection, wish list and sell list.</li>
                <li>Export your data to a spreadsheet at any time.</li>
                <li>Active community of video game collectors.</li>
            </ul>
            <button type="button" class="btn btn-outline-success">Login</button>
            <button type="button" class="btn btn-outline-success ml-3">Search</button>
        </div> 