
   <div class="row mt-5">
        {{#each games}}
        <!-- Original Buttons -->
        <div class="card" style="width: 18rem; display: inline-block;">
            <img class="card-img-top" src="{{gamePicture}}" alt="{{gameName}}">
            <div class="card-body">
                <h5 class="card-title">{{gameName}}</h5>
                <p class="card-text">Owned Status: {{ownedStatus}}<br>
                     Platform: {{gameConsole}}<br>
                    <a href="{{giantbombURL}}" target="_blank">Giant Bomb URL</a>
                </p>
                <button type="button" class=" btn btn-outline-success gameCard" data-toggle="modal" data-target="#modal-{{id}}" data-id="{{id}}">View</button>
                <button type="button" class="btn btn-outline-danger gameCard" data-toggle="modal" data-target="#edit-{{id}}" data-id="{{id}}">Edit</button>
            </div>
        </div>
        
{{!-- Edit Modal --}}
<div class="modal fade" id="edit-{{id}}" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit">{{gameName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <img class="modal-image"src = "{{gamePicture}}">
            <div class="holderEdit">
                <form class="editForm" id="editForm-{{id}}" data-id="{{id}}">
                    <div class="form-group">
                        <label for="ID">Internal ID</label>
                        <input type="text" readonly class="form-control-plaintext idFor{{id}}" placeholder = "{{id}}">
                    </div>
                    <div class="form-group">
                        <label for="Name">Name: </label>
                        <input type="text" class="form-control nameFor{{id}}" value = "{{gameName}}">
                    </div>
                    <div class="form-group">
                        <label for="own">Ownership: </label>
                        <input type="text" class="form-control ownFor{{id}}" value = "{{ownedStatus}}">
                    </div>
                    <div class="form-group">
                        <label for="url">Url: </label>
                        <input type="text" class="form-control urlFor{{id}}" value = "{{giantbombURL}}">
                    </div>
                    <div class="form-group">
                        <label for="summary">Summary: </label>
                        <input type="text" class="form-control summary{{id}}" value = "{{summary}}">
                    </div>
                    <div class="form-group">
                        <label for="summary">Console: </label>
                        <input type="text" class="form-control console{{id}}" value="{{gameConsole}}">
                    </div>
                    <button type="submit" class="btn btn-primary editSubmit">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>

{{!-- View Modal --}}
<div class="modal fade" id="modal-{{id}}" tabindex="-1" role="dialog" aria-labelledby="view" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="view">{{gameName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <img class="modal-image" src = "{{gamePicture}}">
            <div class="holderView">
                <div class="name">{{gameName}}</div>
                <div class="own">{{ownedStatus}}</div>
                <div class="id">{{giantbombID}}</div>
                <div class="url"><a href="{{giantbombURL}}">{{giantbombURL}}</a></div>
                <div class="summary">{{summary}}</div>
                <div class="gameConsole">{{gameConsole}}</div>
            </div>
            
        </div>
    </div>
</div>
        
        
        {{/each}}
        </div>