{{#each games}}
<!-- Original Buttons -->
<button type="button" class="btn mt-5 mod-btn gameCard" data-toggle="modal" data-target="#modal-{{id}}" data-id="{{id}}">
    <div class="card">
        <img class="card-img-top" src={{gamePicture}} alt="Card image cap">
        <div class="card-body">
            <p class="card-text">
                <h5 class="mt-0 name">{{gameName}}</h5>
                <h6 class="mt-0 own">Ownership: <span class="ownership">{{ownedStatus}}</span>
                </h6>
                <h6 class="mt-0">Platform: <span class="platform">{{gameConsole}}</span>
                </h6>
                <h6>
                    <a href="https://www.giantbomb.com/portal-2/3030-21662/" target="_blank">Giantbomb URL</a>
                </h6>
            </p>
        </div>
    </div>
</button>
<div class="modal fade" id="modal-{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{gameName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="modal-image">
            <form>
                <div class="form-group">
                    <label for="ID">Database ID</label>
                    <input type="text" readonly class="form-control-plaintext id">
                </div>
                <div class="form-group">
                    <label for="Name">Name: </label>
                    <input type="text" class="form-control name">
                </div>
                <div class="form-group">
                    <label for="own">Ownership: </label>
                    <input type="text" class="form-control own">
                </div>
                <div class="form-group">
                    <label for="url">Url: </label>
                    <input type="text" class="form-control url">
                </div>
                <div class="form-group">
                    <label for="summary">Summary: </label>
                    <input type="text" class="form-control summary">
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {{/each}}